.cartProductHit{
display: flex;
padding: 10px;
background-color: white;
border-radius: 6px;
}

.cartProductImg img{
  display: inline;
height: 50px;
/* margin-right: 5px; */
}
.cartProductDetails{
  display: inline;
margin-left: 10px;
}

/* .success-toast{


  background-color: #dff0d8 !important; 
  color: #3c763d !important;            
  border: 1px solid #d6e9c6 !important; 
  border-radius: 4px;                   
  padding: 10px;                        
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
} */
 /* ToastStyles.css */

.custom-toast-success .p-toast-message {
  background-color: #dff0d8 !important;  /* Example custom background color for success */
  color: #3c763d !important;             /* Example custom text color for success */
  border: 1px solid #d6e9c6 !important;  /* Example custom border color */
  border-radius: 4px;                    /* Example custom border radius */
  padding: 10px;                         /* Example custom padding */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 30px;
}
/* .footer li img{
  height: 50px;
} */

/* login.css   */
body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .img1{
    position: relative;
    width: 50%;
    height: 100%;
}

section .img1::before{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: linear-gradient(50deg,#2D51A7,#08122b);
    z-index: 1;
    mix-blend-mode: screen;
}

section .img1 img{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

section .content .form1{
    width: 50%;
}

section .content .form1 h2{
    color: #000;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 2px solid #235de4;
    display: inline-block;
}

section .content .form1 .input1{
    margin-bottom: 20px;
}

section .content .form1 .input1 span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    font-weight: 300;
    letter-spacing: 1px;
}

section .content .form1 .input1 input{
    width: 85%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    background: transparent;
    border-radius: 30px;
}

section .content .form1 .input1 input[type="submit"]{
    background: #2D51A7;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: all 500ms ease-in;
}


section .content .form1 .remember{
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
}

section .content .form1 .input1 p a{
    color: #2D51A7;
}

section .content .form1 h3{
    text-align: center;
    margin: 80px 0 10px;
    font-weight: 500;
}

section .content .form1 .socmed{
    display: flex;
    justify-content: center;
    align-items: center;
}

section .content .form1 .socmed li{
    list-style: none;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px;
    cursor: pointer;
}

section .content .form1 .socmed li img{
    transform: scale(0.5);
}

@media (max-width: 768px){
    section .img1{
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
    }

    section .content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%; 
        z-index: 1;
    }

    section .content .form1{
        width: 100%;
        padding: 40px;
        background: rgb(255 255 255 / 80%);
        margin: 50px;
    }

    
    section .content .form1 h3{
        text-align: center;
        margin: 40px 0 20px;
        font-weight: 500;
}

}