.cartProductHit{
display: flex;
padding: 10px;
background-color: white;
border-radius: 6px;
}

.cartProductImg img{
  display: inline;
height: 50px;
/* margin-right: 5px; */
}
.cartProductDetails{
  display: inline;
margin-left: 10px;
}